name: Test
on: push
env:
  MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
  MASTODON_SERVER_URL: ${{ secrets.MASTODON_SERVER_URL }}
  MASTODON_ACCOUNT_ID: ${{ secrets.MASTODON_ACCOUNT_ID }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npm ci
      - run: npm run lint
      - run: npm run build
